html, body {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    width: 400px;
    height: 600px;
    padding: 25px;
    border: solid;
    border-radius: 2%;
    grid-template-areas: 'display display display display'
                         'AC AC AC divide'
                         'number7 number8 number9 multiply'
                         'number4 number5 number6 subtract'
                         'number1 number2 number3 add'
                         'number0 number0 decimalButton equals';
    background-color: silver;
}

.display {
    grid-area: display;
    border: solid;
    text-align: right;
    padding-right: 10px;
    height: 50px;
    background-color: white;
}

#main {
    position: absolute;
    left: 33%;
    right: 33%;
    margin-top: 20px;
}

#AC {
    grid-area: AC;
}

#divide {
    grid-area: divide;
}

#number7 {
    grid-area: number7;
}

#number8 {
    grid-area: number8;
}

#number9 {
    grid-area: number9;
}

#multiply {
    grid-area: multiply;
}

#number4 {
    grid-area: number4;
}

#number5 {
    grid-area: number5;
}

#number6 {
    grid-area: number6;
}

#subtract {
    grid-area: subtract;
}

#number1 {
    grid-area: number1;
}

#number2 {
    grid-area: number2;
}

#number3 {
    grid-area: number3;
}

#add {
    grid-area: add;
}

#number0 {
    grid-area: number0;
}

#decimal {
    grid-area: decimalButton;
}

#equals {
    grid-area: equals;
}